---
import GardenCar from "@/Icons/GardenCar.astro";

interface Props{
    name : string;
    type : string;
    price : string;
    image : string;
}

const {name, type, price, image} = Astro.props;
---

<article
  class="relative w-[400px] h-[320px]  flex items-center justify-center flex-col gap-3"
>
  <header>
    <img src={image} alt={name} />
  </header>
  <div class="flex flex-col justify-center items-center gap-1">
    <h2 class="text-3xl">{name}</h2>
    <span class="text-secondary text-lg "> {type}</span>
  </div>
  <footer>
    <span class="text-xl">{price}</span>
  </footer>
  <button class=" sm:absolute sm:bottom-0 sm:right-0 bg-button p-3 rounded-tl-lg rounded-tr-lg rounded-br-2xl rounded-bl-lg" aria-label="Comprar">
    <GardenCar />
  </button>
</article>
