---
import { Menus } from "@data";
import NewItem from "./NewItem.astro";

const { news } = Menus;
---

<section
  class="w-full mt-48 flex flex-col justify-center items-center"
  id="New"
>
  <h1 class="text-4xl animate-zoom-in [animation-range:0px_300px] [animation-timeline:view()]">Nuevas Ofertas</h1>
  <div
    class="flex flex-row flex-wrap justify-center items-center mt-16 gap-y-20 animate-blink [animation-range:0px_600px] [animation-timeline:view()] w-full"
  >
    {
      news.map(({ nombre, precio, precio_now, imagen, tipo }) => (
        <NewItem
          name={nombre}
          price={precio}
          price_now={precio_now}
          image={imagen}
          type={tipo}
        />
      ))
    }
  </div>
</section>
